*{
  margin:0px;
  padding:0px;
}
 body {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh; 
 
  background-color: red;
  
}
.main{
  height:250px;
  width:200px;
}

.box{
 
  height: 250px;
  width: 200px;
  transform-style:preserve-3d;
  transition:transform 2s;
}

  

.main:hover .box {
  
  transform:rotateY(360deg);
 


}

.card-front,.card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;

  
  
}
.card-front {
  background:blue;
  
}

.card-back {
  background:green;
  transform: rotateY(180deg);
}