/* *{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    display:flex;
    height:75vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    background-color: black;




}
.clock{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    margin-top: 50px;
    
    text-shadow: 0  0  10px rgb(0, 76, 255),
    0  0  15px rgb(0, 51, 255),0  0  20px rgb(0, 55, 255);
} */


/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
} */

/* .chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 4px solid #333;
}

.square,
.square-rev {
  width: 60px;
  height: 60px;
}

.square:nth-child(odd) {
  background: #f0d9b5; /* light 
}
.square-rev:nth-child(even) {
  background: #f0d9b5; /* light 
}
.square-rev:nth-child(odd) {
  background: #b58863; /* dark 
}

.square:nth-child(even) {
  background: #b58863; /* dark 
} 