body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #212121;
    color: #fff;
}

nav.home {
    display: flex;
    gap: 40px; 
    margin-bottom: 30px;
    background-color:#fff;
    height: 40px;
    width: 350px;
    margin: 10px;
    border-radius: 10px;
}

.container {
    background-color:#4214a6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(102, 86, 226, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
form p {
    margin: 15px 0;
}

input[type="text"] {
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    color: #212121;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #e68900;
} 